@import "$lib/_colors.scss";
@font-face {
  font-family: agency;
  src: url("$lib/assets/fonts/agency_fb/agencyfb.ttf") format("truetype");
}
@font-face {
  font-family: leelawadee;
  src: url("$lib/assets/fonts/leelawadee/leelawadee.ttf") format("truetype");
}
@font-face {
  font-family: firacode;
  src: url("$lib/assets/fonts/fira_code/firacode_variable_rg.ttf")
    format("truetype");
}

@mixin lightTheme {
  --background: #{$white};
  --foreground: #{$black};
}
@mixin darkTheme {
  --background: #{$black};
  --foreground: #{$white};
}

:root {
  @include lightTheme;
  --primary: #{$primary};
  --secondary: #{$secondary};
  scroll-behavior: smooth;

  &[force-dark] {
    @include darkTheme;
  }
}
::selection {
  background-color: rgba($primary, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root:not([force-light]) {
    @include darkTheme;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 999px;
}
::-webkit-scrollbar-corner {
  display: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "leelawadee", sans-serif;
  transition: background-color 0.15s, color 0.15s;
  font-size: 18px;
  &.noscroll {
    overflow-y: hidden;
  }

  img.img-display {
    cursor: pointer;
  }
  img#image-visualizer {
    cursor: initial;
  }
}

#app {
  max-width: 1500px;
  margin: 0 auto;
}

@for $i from 1 to 6 {
  h#{$i} {
    font-family: "agency", serif;
  }
}

a {
  color: var(--primary);
  text-decoration: none;
  font-style: italic;
  transition: color 0.15s, text-shadow 0.25s;
  font-weight: bolder;
  position: relative;

  &:not(:has(> button))::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 0.15em;
    border-radius: 999px;

    transform-origin: center right;
    scale: 0 1;

    background-color: var(--primary);

    transition: scale 0.15s;
  }

  &:hover {
    text-shadow: 0 0 15px var(--foreground);
    &::before {
      scale: 1 1;
      transform-origin: center left;
    }
  }
}

ul {
  list-style-position: inside;
}

button {
  cursor: pointer;
}

button:not(.nodefault) {
  padding: 10px 25px;
  border: none;
  background-color: $primary;
  text-transform: uppercase;
  outline: none;
  border-radius: 10px;
  color: var(--foreground);

  font-family: "agency", serif;

  will-change: scale;

  transition: 0.15s;

  box-shadow: 0 0 10px -2px var(--foreground);

  &.primary-color {
    --secondary: var(--primary);
  }

  &:hover {
    scale: 1.05;
    background-color: $secondary;
    color: $black;
  }
  &:focus {
    box-shadow: 0 0 0 2px var(--secondary);
  }
}

hr {
  display: block;
  width: 50%;
  margin: 50px auto;
  background-color: transparent;
  border: 1.5px dashed var(--secondary);
  border-radius: 999px;
}

input:not(.nodefault),
textarea:not(.nodefault) {
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "agency", sans-serif;
  outline: none;

  font-size: 16px;
  position: relative;

  transition: padding 0.15s;

  &:required:placeholder-shown {
    font-style: italic;
  }
  &:focus {
    outline: 2px solid var(--foreground);
    padding: 10px 20px;
  }
}
textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  resize: vertical;
}
pre:has(> code) {
  overflow-y: scroll;
  padding: 25px 15px;
  background-color: #21252b;
  border-radius: 15px;
  margin: 25px 0;
}
code {
  font-family: "firacode", monospace;
  font-size: 12.5px;
  &:not(pre > code) {
    background-color: var(--foreground);
    color: var(--background);
    padding: 1.5px 5px;
    border-radius: 999px;
  }
}

input {
  cursor: pointer;
}
