@import "$lib/_colors.scss";
@font-face {
	font-family: agency;
	src: url("$lib/assets/fonts/agency_fb/agencyfb.ttf") format("truetype");
}
@font-face {
	font-family: leelawadee;
	src: url("$lib/assets/fonts/leelawadee/leelawadee.ttf") format("truetype");
}
@font-face {
	font-family: firacode;
	src: url("$lib/assets/fonts/fira_code/firacode_variable_rg.ttf")
		format("truetype");
}

@mixin lightTheme {
	--background: #{$white};
	--foreground: #{$black};
}
@mixin darkTheme {
	--background: #{$black};
	--foreground: #{$white};
}

:root {
	@include lightTheme;
	--primary: #{$primary};
	--secondary: #{$secondary};
	scroll-behavior: smooth;

	&[force-dark] {
		@include darkTheme;
	}
}
::selection {
	background-color: rgba($primary, 0.25);
}

@media (prefers-color-scheme: dark) {
	:root:not([force-light]) {
		@include darkTheme;
	}
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--foreground);
	border-radius: 999px;
}
::-webkit-scrollbar-corner {
	display: none;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: "leelawadee", sans-serif;
	transition: background-color 0.15s, color 0.15s;
	font-size: 1.05em;
	&.noscroll {
		overflow-y: hidden;
	}
}

@for $i from 1 to 6 {
	h#{$i} {
		font-family: "agency", serif;
	}
}

a {
	color: var(--primary);
	text-decoration: none;
	font-style: italic;
	transition: color 0.15s, text-shadow 0.25s;
	font-weight: bolder;

	&:hover {
		color: var(--secondary);
		text-shadow: 0 0 15px var(--foreground);
	}
}

ul {
	list-style-position: inside;
}

button:not(.nodefault) {
	padding: 10px 25px;
	border: none;
	background: linear-gradient(
		to bottom right,
		var(--secondary),
		var(--background)
	);
	outline: none;
	border-radius: 10px;
	color: var(--foreground);

	font-family: "agency", serif;
	font-size: 15px;
	font-style: italic;

	will-change: scale;

	transition: scale 0.15s, box-shadow 0.15s;

	box-shadow: 0 0 10px -2px var(--foreground);

	&.primary-color {
		--secondary: var(--primary);
	}
	&:hover {
		scale: 1.05;
	}
	&:focus {
		box-shadow: 0 0 0 2px var(--secondary);
	}
}

hr {
	display: block;
	width: 50%;
	margin: 50px auto;
	background-color: transparent;
	border: 1.5px dashed var(--secondary);
	border-radius: 999px;
}

input:not(.nodefault),
textarea:not(.nodefault) {
	padding: 10px 10px;
	border-radius: 10px;
	border: none;
	background-color: var(--background);
	color: var(--foreground);
	font-family: "agency", sans-serif;
	outline: none;

	font-size: 16px;
	position: relative;

	transition: padding 0.15s;

	&:required:placeholder-shown {
		font-style: italic;
	}
	&:focus {
		outline: 2px solid var(--foreground);
		padding: 10px 20px;
	}
}
textarea {
	display: block;
	width: 100%;
	min-height: 100px;
	resize: vertical;
}
pre:has(> code) {
	overflow-y: scroll;
	padding: 25px 15px;
	background-color: #21252b;
	border-radius: 15px;
	margin: 25px 0;
}
code {
	font-family: "firacode", monospace;
	font-size: 12.5px;
	&:not(pre > code) {
		background-color: var(--foreground);
		color: var(--background);
		padding: 1.5px 5px;
		border-radius: 999px;
	}
}
